body{
     overflow-x: hidden;
}

.cards-container{
     justify-content: space-evenly;
     flex-wrap: wrap;
     overflow: hidden;
}
.character-info .btn{ 
     width: 70%;
}

.card{
     background-color: hsla(0, 21%, 70%, 0.62);
     height: fit-content;
     width: 350px;
     margin: 40px 25px;
     text-align: center;
     border: 1px solid black;
     border-radius: 10px;
     gap: 5px;
     z-index: 2;
     backdrop-filter: blur(3px);
}

.card img{
     border-radius: 10px 10px 0 0;
}

.name{
     font-size: 20px;
     /* font-weight: bold; */
}

.remove-btn{
     /* border-radius: 0 0 10px 10px; */
     margin: auto;
     margin-bottom:15px;
     width: 70%;
     
}

.no-characters{
     font-size: 40px;
     color: var(--text-color);
}

.bg-img{
     display: flex;
}